@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.navbar-item {
  height: 200px;
  background-color: blue;
}

.navbar-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-gap: 1rem;
}